{% extends 'clienttemplates/clientbase.html' %}
{% block title %}{{room.room_type}} room at {{room.hotel.name}}{% endblock %}


{% block css %}
<style>
    form label {
        font-size: 12px;
    }
</style>
{% endblock %}
{% block content %}
<div class="row mt-3">
    <div class="col-md-12">
        <div class="card p-3">
            <h4>{{room.room_type}} room at {{room.hotel.name}}</h4>
            <hr>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-7">
                            <img src="{{room.image.url}}" class="img-fluid"
                                style="width: 100%;height: 300px; object-fit: contain;" alt="">
                        </div>
                        <div class="col-md-5">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Hotel: </th>
                                        <td>{{room.hotel}}</td>
                                    </tr>
                                    <tr>
                                        <th>Location: </th>
                                        <td>{{room.hotel.address}}</td>
                                    </tr>
                                    <tr>
                                        <th>Room Code: </th>
                                        <td>{{room.room_code}}</td>
                                    </tr>
                                    <tr>
                                        <th>Room Type: </th>
                                        <td>{{room.room_type}}</td>
                                    </tr>
                                    <tr>
                                        <th>Price: </th>
                                        <td>Rs. {{room.price}}/-</td>
                                    </tr>
                                    <tr>
                                        <th>Total Views: </th>
                                        <td>{{room.view_count}} views</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12 mt-2">
                            {{room.description|safe}}
                        </div>
                    </div>
                </div>

                <div class="col-md-4 bg-info p-3">
                    {% if request.user.customer %}
                    <h6 class="text-white">Room Booking Form <br><small
                            style="font-size: 11px; color: rgb(143, 3, 3);">fields marked with * are required
                            fields.</small></h6>
                    <hr>
                    <form action="{% url 'hbsapp:customerroombooking' room.id %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <label for="">Total Persons <span class="text-danger">*</span></label>
                                {{roombookingform.total_persons}}
                            </div>
                            <div class="col-md-6 mt-1">
                                <label for="">Booking Date<span class="text-danger">*</span></label>
                                {{roombookingform.booking_starts}}
                            </div>
                            <div class="col-md-6 mt-1">
                                <label for="">To <span class="text-danger">*</span></label>
                                {{roombookingform.booking_ends}}
                            </div>
                            <div class="col-md-12 mt-1">
                                <label for=""></label>
                                {{roombookingform.message}}
                            </div>
                            <div class="col-md-12 mt-1">
                                <label for="">Payment Method <span class="text-danger">*</span></label>
                                {{roombookingform.payment_method}}
                            </div>
                        </div>
                        <hr>
                        <button id="book-btn" class="btn btn-outline-primary w-100">Book this Room</button>
                    </form>
                    {% else %}
                    <div class="text-center">

                        <h5>You need to login to book room.</h5>
                        <p>If you already have an account</p>
                        <a class="text-white" style="font-weight: bold;"
                            href="{% url 'hbsapp:customerlogin' %}?next={{request.path}}">Login as a Customer</a>
                        <p>If you don't have an account</p>
                        <a class="text-white" style="font-weight: bold;"
                            href="{% url 'hbsapp:customerlogin' %}?next={{request.path}}">Register as a Customer</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function (e) {
        document.getElementById("id_booking_starts").addEventListener("change", function (ev) {
            var date = this.value
            fetch(`{% url 'hbsapp:customerroomcheck' room.id %}?date=${date}`)
                .then(response => response.json())
                .then(data => {
                    if (data.status == "error") {
                        document.getElementById("book-btn").setAttribute("disabled", "disabled")
                        Swal.fire({
                            text: 'You can not choose the past date.',
                            icon: 'error',
                            confirmButtonText: 'Sorry'
                        })
                    } else if (data.status == "unavailable") {
                        document.getElementById("book-btn").setAttribute("disabled", "disabled")
                        Swal.fire({
                            text: 'Sorry! this room is already booked for this date.',
                            icon: 'error',
                            confirmButtonText: 'Choose Another'
                        })
                    } else {
                        document.getElementById("book-btn").removeAttribute("disabled")
                    }
                });
        })
    })
</script>
<script>
    function compareDates() {
        //Get the text in the elements
        var from = document.getElementById('id_booking_starts').value;
        var to = document.getElementById('id_booking_ends').value;

        //Generate an array where the first element is the year, second is month and third is day
        var splitFrom = from.split('/');
        var splitTo = to.split('/');

        //Create a date object from the arrays
        var fromDate = Date.parse(splitFrom[0], splitFrom[1] - 1, splitFrom[2]);
        var toDate = Date.parse(splitTo[0], splitTo[1] - 1, splitTo[2]);

        //Return the result of the comparison
        if (fromDate > toDate) {
            document.getElementById("book-btn").setAttribute("disabled", "disabled")
            Swal.fire({
                text: 'Departure date must be greater than arrival date',
                icon: 'error',
                confirmButtonText: 'Sorry'
            })
        }else{
            document.getElementById("book-btn").removeAttribute("disabled")
        }
    }
</script>
{% endblock %}