{% extends 'admintemplates/adminbase.html' %}
{% block title %}Hotel Room List{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <a href="{% url 'hbsapp:adminroomcreate' %}">Add New Room</a>
        <div class="table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Room Type</th>
                        <th>Hotel</th>
                        <th>Room Code</th>
                        <th>Price</th>
                        <th>View Count</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in roomlist %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{room.room_type}}</td>
                        <td>{{room.hotel}}</td>
                        <td>{{room.room_code}}</td>
                        <td>{{room.price}}</td>
                        <td>{{room.view_count}}</td>
                        <td>
                            <a href="">Update</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}